[submodule "data/gameboy/blargg_tests"]
	path = data/gameboy/blargg_tests
	url = https://github.com/retrio/gb-test-roms.git
[submodule "lib/wla-dx"]
	path = lib/wla-dx
	url = https://github.com/vhelin/wla-dx.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/jamolnng/argparse.git
